@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");

.container {
  background-color: var(--light-purple);
  height: 100vh;
  display: flex;
}
.background {
  width: 40vw;
  height: 100vh;
}
.headingContainer {
  width: fit-content;
  font-family: "Sofia";
  margin: auto;
}
.headingContainer > img {
  margin-left: 10px;
}
.headingContainer > h3 {
  margin: 0;
  font-size: x-large;
}
.formContainer {
  width: 60vw;
  background-image: url("./form-background.jpg");
}
.form {
  padding: 45px;
  width: fit-content;
  transform: translate(0, 5%);
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
}
.heading {
  width: fit-content;
  font-size: xx-large;
  font-weight: 700;
  margin: 20px auto;
}
.fieldContent {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.label {
  color: white;
}
.input {
  padding: 10px;
  border: hidden;
  border-bottom: 2px solid black;
  outline: 0;
  margin-top: 10px;
  font-weight: 700;
}
.loginBtn {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 30px auto 0 auto;
  width: 200px;
  border-radius: 50px;
  border: 0;
}
.loginBtn:hover {
  background-color: #e6d9f5;
}
.signupBtn {
  margin: 50px auto 0 auto;
  width: fit-content;
}
.signupBtn > a {
  text-decoration: none;
}
