@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");

.container {
  width: fit-content;
  padding: 50px;
  margin: 200px auto;
  background-color: grey;
  border-radius: 10px;
}
.message {
  font-family: "Sofia", sans-serif;
}
.btnContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 10px 5px;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  background-color: black;
  color: white;
}
