.container {
  width: 300px;
  padding: 50px;
  margin: 200px auto;
  background-color: grey;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 10px 5px;
}
button:hover {
  background-color: black;
  color: white;
}
