@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Arapey&display=swap");

.container {
  height: 100vh;
  background-image: url("./background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  padding: 10px;
}
.navWrapper {
  margin: 10px 75%;
  width: 200px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.navLinks {
  font-size: x-large;
  list-style: none;
  cursor: pointer;
}
.navLinks > a {
  color: black;
  text-decoration: none;
}
.welcomeMessage {
  margin: auto;
  margin-left: 30%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 150px;
  font-family: "Parisienne";
}
.welcomeMessage > img {
  margin: auto;
}
.name {
  font-size: 70px;
  margin: 0 auto;
  font-weight: 100;
}
.welcomeMessage > p {
  margin: 0;
  font-weight: 500;
  font-size: 35px;
  font-family: "Arapey";
}

@media only screen and (max-width: 576px) {
  .welcomeMessage {
    margin: auto;
    padding: 25vh 0;
  }
  .navWrapper {
    width: 50vw;
    margin: 20px 0;
    float: right;
  }
}
