.card {
  margin: 25px;
  text-align: center;
  width: 40vw;
}
.cardBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardText {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.bookBtn {
  margin-top: 20px;
  height: 60px;
  width: auto;
}

@media only screen and (max-width: 576px) {
  .card {
    width: 85vw;
  }
  .cardBody {
    flex-direction: column;
  }
  .bookBtn {
    height: 50px;
    width: 100px;
    margin: auto;
  }
}
