@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");

.container {
  background-color: grey;
  height: 100vh;
  display: flex;
}
.background {
  width: 40vw;
}
.headingContainer {
  width: fit-content;
  font-family: "Sofia";
  margin: auto;
}
.headingContainer > img {
  margin-left: 10px;
}
.headingContainer > h3 {
  margin: 0;
  font-size: x-large;
}
.formContainer {
  width: 60vw;
  background-image: url("./form-background.jpg");
}
.form {
  padding: 50px;
  width: fit-content;
  transform: translate(0, 5%);
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  border: hidden;
  background-color: white;
}
.heading {
  width: fit-content;
  font-size: xx-large;
  font-weight: 700;
  margin: auto;
}
.input {
  font-weight: 700;
  padding: 10px;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  margin-top: 25px;
}
.registerBtn {
  outline: 0;
  border: 0;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 30px auto 0 auto;
  width: 200px;
  border-radius: 50px;
}
.registerBtn:hover {
  background-color: #aedef8;
}

@media only screen and (max-width: 576px) {
  .background {
    width: 0;
  }
  .formContainer {
    width: 100vw;
    height: 100vh;
  }
  .form {
    margin: 25px auto;
    padding: 40px;
    height: 70vh;
  }
  .input {
    width: 70vw;
  }
}
